<div ng-controller="StencilController">
    <div class="full">
        <div class="row row-no-gutter">
            <div id="canvasHelpWrapper" style="width: 100%" class="col-xs-9">
                <div class="canvas-wrapper" id="canvasSection" style="background-color: white"
                     ng-model="droppedElement"
                     ng-model="droppedElement"
                     data-jqyoui-options >
                    <div class="canvas-message" id="model-modified-date"></div>

                </div>
            </div>
        </div>
    </div>
</div>
